<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DevBook - Login</title>

        <link rel="stylesheet" type="text/css" href="assets/styles/login.css" />
    </head>
    <body>
        <div class="container-login">
            <div>
                <form id="create-user-form" class="devbook-form">
                    <span>Seja bem vindo ao DevBook!</span>
                    <div>
                        <input
                            id="name"
                            type="text"
                            name="name"
                            placeholder="Informe seu nome"
                            required
                        />
                    </div>
                    <div>
                        <input
                            id="email"
                            type="text"
                            name="email"
                            placeholder="Informe seu e-mail"
                            required
                        />
                    </div>
                    <div>
                        <input
                            id="nickName"
                            type="text"
                            name="nickName"
                            placeholder="Informe seu nickname"
                            required
                        />
                    </div>
                    <div>
                        <input
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Informe sua senha"
                            required
                        />
                    </div>
                    <div>
                        <input
                            id="confirmPassword"
                            type="password"
                            name="confirmPassword"
                            placeholder="Confirme sua senha"
                            required
                        />
                    </div>
                    <a href="/login">Clique aqui para realizar login</a>
                    <button type="submit" class="btn-devbook">Cadastrar</button>
                </form>
            </div>
        </div>
        <script src="/assets/scripts/jquery.js"></script>
        <script src="/assets/scripts/createUser.js"></script>
    </body>
</html>
