{{ define "followers-modal" }}
<div id="followers-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h2>Seguidores</h2></div>
            <div class="modal-body">
                {{ range .Followers }}
                <a href="/user/{{ .Id }}">{{ .NickName }}</a>
                <br />
                {{ else }}
                <p class="text-multed text-center">Esse usuário não possui seguidores.</p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
