{{ define "publicationHeader" }}
<h1 class="display-4">{{ .Title }}</h1>
<p class="lead">{{ .Content }}</p>
<a href="#">{{ .Author.NickName }} - {{ .CreatedAt.Format "02/01/2006" }}</a>
<hr class="my-4" />
{{ end }}

<!---->

{{define "likes"}}
<span>{{.Likes}} curtidas</span>
{{ end }}

<!---->

{{ define "edit" }}
<a href="/edit">Editar Publicação</a>
{{ end }}

<!---->

{{ define "delete" }}
<a href="/delete">Deletar Publicação</a>
{{ end }}

<!---->

{{ define "publication" }}
<div class="jumbotron" data-publication-id="{{ .Id }}">
    {{ template "publicationHeader" .}}
    <!---->
    <p>{{ template "likes" .}}</p>
</div>
{{ end }}

<!---->

{{ define "publicationWithPermission" }}
<div class="jumbotron" data-publication-id="{{ .Id }}">
    {{ template "publicationHeader" .}}
    <p>
        {{ template "likes" .}}
        <!---->
        {{ template "edit" .}}
        <!---->
        {{ template "delete" .}}
    </p>
</div>
{{ end }}
